{% extends 'sports/index.html' %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="main-container transition--fade">
        <section class="blog-post">

            <div class="blog-post__title bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                            <h1 class="h2">{{ article.title }}</h1>				<div class="blog-post__author">
                            <span><em>by</em></span>
                            <span class="h6">{{ article.author }}</span>
                        </div>
                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 text-center">
                        <img width="1024" height="683" src="{{ article.image.url }}" class="blog-post__hero box-shadow wp-post-image" alt="" sizes="(max-width: 1024px) 100vw, 1024px" />			</div>
                </div><!--end of row-->
            </div>


            <div class="container">

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <div class="row">

                            <div class="col-sm-9 post-content">
                                {{ article.description }}
                            </div>

                            <div class="col-md-3 hidden-sm hidden-xs">
                                <div class="sidebar">
                                    <div class="widget betla-widget sidebar__widget"><div style="border-bottom: 1px solid #eee; padding-bottom: 12px; margin-bottom: 9px; background-color: #ccc; text-align: center; border-radius: 8px; padding: 1.5em 0.7em;"><img class="alignnone" style="width: 100%;" src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2017/02/hp-laptop-656-387.png' %}" width="656" height="387" /></p>
                                        <p style="font-weight: bold;">New Starter plan<br />now available</p>
                                        <p>It&#8217;s never been easier to build betting systems.</p>
                                        <p>No coding required.</p>
                                        <p><a class="btn btn--success build-system-now-button btn-default btn-lg btn-subtext" style="padding-right: 15%; padding-left: 15%;" href="{%  url 'pricing' %}"><span class="btn__text">Just $49/mo</span></a></p>
                                    </div>
                                    </div><div id="search-4" class="widget widget_search sidebar__widget"><form class="search-form" method="get" id="searchform" action="">
                                    <div class="input-with-icon">
                                        <i class="icon-Magnifi-Glass2"></i>
                                        <input type="text" id="s2" class="mb0" name="s" placeholder="Search Blog" />
                                    </div>
                                </form></div>

                                    <div id="recent-posts-5" class="widget widget_recent_entries sidebar__widget">
                                        <h6>Recent Posts</h6><hr>		<ul>
                                        {% for article in latest_articles %}
                                            <li>
                                                <a href="{% url 'article' pk=article.id %}">{{ article.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    </div>
                                    <div id="categories-3" class="widget widget_categories sidebar__widget">
                                        <h6>Categories</h6><hr>
                                        <ul>
                                            {% for category in categories %}
                                                <li class="cat-item cat-item-39"><a href="{% url 'category' pk=category.id %}" >{{ category }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <hr />
                            </div>

                        </div>



                        <div class="row">
                            <div class="col-sm-12">

                                <h5>Related articles</h5>

                                <div class="row related-row">
                                    <div class="masonry">
                                        <div class="masonry__container">
                                            {% for article in related_articles %}
                                                <div class="col-sm-4 masonry__item">
                                                    <a href="{% url 'article' pk=article.id %}">
                                                        <div class="boxed bg--white box-shadow">
                                                            <span>{{ article.date }}</span>
                                                            <h5>{{ article.title }}</h5>			<hr>
                                                            <p>{{ article.description|slice:"0:75" }}...</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div><!--end of masonry container-->
                                    </div>
                                </div><!--end of row-->

                                <hr />

                            </div>
                        </div><!--end of row-->
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <div class="blog-post__share">
                                            <h5>Share this article</h5>

                                            <a class="btn btn--sm bg--facebook" style="margin-left: 0; margin-bottom: 1rem;" target="_blank" href="http://www.facebook.com/share.php?u={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{%  url 'article' pk=article.id %}" onClick="return ebor_fb_like_20835()">
	                                        <span class="btn__text">
		                                    <i class="socicon-facebook"></i> Share on Facebook	</span>
                                            </a>

                                            <a class="btn btn--sm bg--twitter" style="margin-left: 0; margin-bottom: 1rem;" target="_blank" href="https://twitter.com/share?url={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{%  url 'article' pk=article.id %}" onClick="return ebor_tweet_20835()">
                                                <span class="btn__text">
                                                    <i class="socicon-twitter"></i> Share on Twitter	</span>
                                            </a>

                                            <a class="btn btn--sm bg--googleplus" style="margin-left: 0; margin-bottom: 1rem;" target="_blank" href="http://pinterest.com/pin/create/button/?url={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{%  url 'article' pk=article.id %}" onClick="return ebor_pin_20835()"><span class="btn__text">
                                                <i class="socicon-pinterest"></i> Share on Pinterest	</span>
                                            </a>

                                            <script type="text/javascript">
                                                function ebor_fb_like_20835() {
                                                    window.open("http://www.facebook.com/sharer.php?u={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{%  url 'article' pk=article.id %}", 'sharer','toolbar=0,status=0,width=626,height=436');
                                                    return false;
                                                }
                                                function ebor_tweet_20835() {
                                                    window.open("https://twitter.com/share?url={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{%  url 'article' pk=article.id %}",'sharer','toolbar=0,status=0,width=626,height=436');
                                                    return false;
                                                }
                                                function ebor_pin_20835() {
                                                    window.open("http://pinterest.com/pin/create/button/?url={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{%  url 'article' pk=article.id %};media={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ article.image.url }}&amp;description={{ article.title }}",'sharer','toolbar=0,status=0,width=626,height=436');
                                                    return false;
                                                }
                                            </script>        </div>
                                    </div>
                                </div><!--end of row-->					</div>
                        </div>

                    </div>
                </div><!--end of row-->

            </div><!--end of container-->
        </section>


        <section class="project-navigation">
            {% if previous_article_id %}
                <a href="{% url 'article' pk=previous_article_id%}" rel="prev">
                    <span class="h5"><span class="larr">&larr;</span> Previous Post</span>
                </a>
            {% else %}
                <a href="#" rel="prev" class="disabled">
                    <span class="h5"><span class="larr">&larr;</span> Previous Post</span>
                </a>
            {% endif %}
            <a href="{% url 'blog' %}">
                <span class="h5">All Posts</span>
            </a>
        {% if next_article_id %}
            <a href="{% url 'article' pk=next_article_id%}" rel="next">
                <span class="h5">Next Post <span class="rarr">&rarr;</span></span>
            </a>
        {% else %}
            <a href="#" rel="next" class="disabled">
                <span class="h5">Next Post <span class="rarr">&rarr;</span></span>
            </a>
        {% endif %}
        </section>
    </div>

{% endblock %}