{% extends 'sports/index.html' %}
{% load static %}

{% block title %}Blog - Bettor Labs - Sports Betting Statistics{% endblock %}

{% block content %}
    <div class="main-container transition--fade"><section class="vc_row wpb_row vc_row-fluid"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element  vc_custom_1516302291311">
            <div class="wpb_wrapper">
                <p><strong style="font-size: 130%;">Archived articles</strong></p>

            </div>
        </div>
        <div class="row">

            <div class="col-md-9">
                <div class="row">

                    <div class="masonry pr30">
                        <div class="masonry__container blog-load-more">
                            {% for article in articles %}
                                <div class="blog-item blog-item-1 masonry__item col-sm-12">
                                    <a href="{% url 'article' pk=article.id %}">
                                        <img width="2518" height="1931" src="{{ article.image.url }}" class="attachment-full size-full wp-post-image" sizes="(max-width: 2518px) 100vw, 2518px" />
                                    </a>
                                    <a href="{% url 'article' pk=article.id %}">
                                        <h4>{{ article.title }}</h4>
                                    </a>
                                    <div class="blog-item__author">
                                        <span><em>by</em></span>
                                        <span class="h6">{{ article.author }} &bull; </span>
                                        <span><em>{{ article.date }}</em></span>
                                    </div>

                                    <p>{{ article.description|slice:"0:330" }} [&hellip;]</p>
                                    <div class="row pt40">
                                        <div class="col-sm-12">
                                            <div class="blog-post__share">
                                                <h6>Share this article</h6>

                                                <a class="btn btn--sm bg--facebook" style="margin-left: 0;" target="_blank" href="http://www.facebook.com/share.php?u={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{%  url 'article' pk=article.id %}" onClick="return ebor_fb_like_20835()">
	                                        <span class="btn__text">
		                                    <i class="socicon-facebook"></i> Share on Facebook	</span>
                                                </a>

                                                <a class="btn btn--sm bg--twitter" style="margin-left: 0;" target="_blank" href="https://twitter.com/share?url={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{%  url 'article' pk=article.id %}" onClick="return ebor_tweet_20835()">
                                                <span class="btn__text">
                                                    <i class="socicon-twitter"></i> Share on Twitter	</span>
                                                </a>

                                                <a class="btn btn--sm bg--googleplus" style="margin-left: 0;" target="_blank" href="http://pinterest.com/pin/create/button/?url={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{%  url 'article' pk=article.id %}" onClick="return ebor_pin_20835()"><span class="btn__text">
                                                <i class="socicon-pinterest"></i> Share on Pinterest	</span>
                                                </a>

                                                <script type="text/javascript">
                                                    function ebor_fb_like_20835() {
                                                        window.open("http://www.facebook.com/sharer.php?u={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{%  url 'article' pk=article.id %}", 'sharer','toolbar=0,status=0,width=626,height=436');
                                                        return false;
                                                    }
                                                    function ebor_tweet_20835() {
                                                        window.open("https://twitter.com/share?url={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{%  url 'article' pk=article.id %}",'sharer','toolbar=0,status=0,width=626,height=436');
                                                        return false;
                                                    }
                                                    function ebor_pin_20835() {
                                                        window.open("http://pinterest.com/pin/create/button/?url={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{%  url 'article' pk=article.id %};media={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ article.image.url }}&amp;description={{ article.title }}",'sharer','toolbar=0,status=0,width=626,height=436');
                                                        return false;
                                                    }
                                                </script></div>
                                        </div>
                                    </div><!--end of row-->
                                    <hr>

                                </div><!--end blog item-->
                            {% endfor %}
                        </div>
                    </div>

                    <div class='pagination-container'><hr />
                        <ul class='pagination'>
                            {% if articles.has_previous %}
                                <a href="?{% if request.GET.s %}s={{ request.GET.s }}&{% endif %}page=1">&laquo; First</a>
                                <a href="?{% if request.GET.s %}s={{ request.GET.s }}&{% endif %}page={{ articles.previous_page_number }}">Previous</a>
                            {% endif %}
                            <span class="current">
                                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
                            </span>

                            {% if articles.has_next %}
                                <a href="?{% if request.GET.s %}s={{ request.GET.s }}&{% endif %}page={{ articles.next_page_number }}">Next</a>
                                <a href="?{% if request.GET.s %}s={{ request.GET.s }}&{% endif %}page={{ articles.paginator.num_pages }}">Last &raquo;</a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="sidebar">
                    <div class="widget betla-widget sidebar__widget">
                        <div style="border-bottom: 1px solid #eee; padding-bottom: 12px; margin-bottom: 9px; background-color: #ccc; text-align: center; border-radius: 8px; padding: 1.5em 0.7em;">
                            <img class="alignnone" style="width: 100%;" src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2017/02/hp-laptop-656-387.png' %}" width="656" height="387" /></p>
                            <p style="font-weight: bold;">New Starter plan<br />now available</p>
                            <p>It&#8217;s never been easier to build betting systems.</p>
                            <p>No coding required.</p>
                            <p><a class="btn btn--success build-system-now-button btn-default btn-lg btn-subtext" style="padding-right: 15%; padding-left: 15%;" href="{% url 'pricing' %}">
                                <span class="btn__text">Just $49/mo</span>
                            </a></p>
                        </div>
                    </div>

                    <div id="search-4" class="widget widget_search sidebar__widget">
                        <form class="search-form" method="get" id="searchform" action="{% url 'blog' %}">
                            <div class="input-with-icon">
                                <i class="icon-Magnifi-Glass2"></i>
                                <input type="text" id="s2" class="mb0" name="s" placeholder="Search Blog" />
                            </div>
                        </form>
                    </div>

                    <div id="recent-posts-5" class="widget widget_recent_entries sidebar__widget"><h6>Recent Posts</h6>
                        <hr>
                        <ul>
                            {% for article in latest_articles %}
                                <li>
                                    <a href="{% url 'article' pk=article.id %}">{{ article.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="categories-3" class="widget widget_categories sidebar__widget">
                        <h6>Categories</h6><hr>
                        <ul>
                            {% for category in categories %}
                                <li class="cat-item cat-item-{{ category.id }}">
                                    <a href="{% url 'category' pk=category.id %}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>	</div>
            </div>
        </div><!--end of row--></div></div></div></div></div></section>
    </div>
{% endblock %}