{% extends 'sports/index.html' %}
{% load static %}
{% block title %}Build Systems - Bettor Labs - Sports Betting Statistics{% endblock %}

{% block content %}
<div class="main-container transition--fade"><section class="vc_row wpb_row vc_row-fluid bg--secondary vc_custom_1483368842123 vc_row-has-fill"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h1 style="text-align: center; color: #fff;">Build Betting Systems in Minutes</h1>
<h2 class="lead" style="text-align: center; color: #fff;">Bettor Labs makes it easy to build winning betting systems. If you can click a mouse, you can use Bettor Labs.</h2>

		</div>
	</div>
</div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid vc_custom_1483365817543"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_right  wpb_animate_when_almost_visible wpb_right-to-left right-to-left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2015/05/tn-idea.png' %}" class="vc_single_image-img attachment-thumbnail" alt="" /></div>
		</figure>
	</div>
</div></div></div><div class="wpb_column column_container col-sm-10"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_right-to-left right-to-left margin-right-12em">
		<div class="wpb_wrapper">
			<h3>1) Come up with an idea</h3>
<p>Think there’s an edge for home teams coming off a loss in cold weather? How about that .500 team who’s lost 3 in a row. There&#8217;s no chance they lose the first half at home, right? Whatever you can think of, you can build a system to test your theory.</p>

		</div>
	</div>
</div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid vc_custom_1482970531896"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_right  wpb_animate_when_almost_visible wpb_right-to-left right-to-left  nothickbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2015/05/build-system.png' %}" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2015/05/build-system-150x150.png' %}" class="vc_single_image-img attachment-thumbnail" alt="" /></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column column_container col-sm-10"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_right-to-left right-to-left margin-right-12em">
		<div class="wpb_wrapper">
			<h3>2) Turn it into a system with our filters</h3>
<p>With our easy-to-use system builder and 400+ filters spanning the NFL, NCAA Football, NBA, NCAA Basketball, MLB, NHL, CFL and WNBA, you can test your idea within minutes and see real historical results.</p>

		</div>
	</div>
</div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid vc_custom_1482970503999"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_right  wpb_animate_when_almost_visible wpb_right-to-left right-to-left">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2015/04/game-matches.png' %}" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2015/04/game-matches-150x150.png' %}" class="vc_single_image-img attachment-thumbnail" alt="" /></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column column_container col-sm-10"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_right-to-left right-to-left margin-right-12em">
		<div class="wpb_wrapper">
			<h3>3) Know when a game matches your system</h3>
<p>Once an upcoming game matches your system, you&#8217;ll be alerted so you know when to make your move. We send alerts out via email and text message, so you won&#8217;t miss a play while you&#8217;re on the go.</p>

		</div>
	</div>
</div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid vc_custom_1482970511891"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			
		</div>
	</div>
</div></div></div><div class="wpb_column column_container col-sm-8"><div class="vc_column-inner vc_custom_1431542789674"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_right-to-left right-to-left">
		<div class="wpb_wrapper">
			<p style="text-align: center; font-size: 140%;">There’s no limit to what you can build.</p>

		</div>
	</div>
</div></div></div><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			
		</div>
	</div>
</div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid vc_custom_1485440330610"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<div class="wpb_wrapper">
<p style="text-align: center;"><a class="btn btn--primary build-system-now-button btn-default btn-lg btn-subtext" href="../pricing/index.html">Build your system now<br />
<small>It&#8217;s quick and easy</small></a></p>
</div>

		</div>
	</div>
</div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid vc_custom_1485440350094"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;">Build with over 400 filters including&#8230;</h3>

		</div>
	</div>
</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Pie-Chart3"></i>
				<h5>Public Betting Data</h5>
				</p>
<ul style="list-style: circle;">
<li>% of Bets on Spread, Moneyline, O/U</li>
<li>% of Money on Spread, Moneyline, O/U</li>
<li>Number of Bets</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Alarm"></i>
				<h5>Time Period</h5>
				</p>
<ul style="list-style: circle;">
<li>Game Month</li>
<li>Custom Date Range</li>
<li>Time of Day</li>
<li>Day of Week</li>
<li>Pre / Post Season</li>
<li>Time Zone</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Sports-Shirt"></i>
				<h5>Player Information</h5>
				</p>
<ul style="list-style: circle;">
<li>Player</li>
<li>Quaterback</li>
<li>Pitcher</li>
<li>Opposing Pitcher</li>
<li>Goalie</li>
<li>Opposing Goalie</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Line-Chart4"></i>
				<h5>Line Information</h5>
				</p>
<ul style="list-style: circle;">
<li>Opening & Closing lines</li>
<li>Spread, Moneyline, Totals</li>
<li>Juice</li>
<li>Line Change</li>
<li>Previous Game Spread</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Cloud-Rain"></i>
				<h5>Weather Information</h5>
				</p>
<ul style="list-style: circle;">
<li>Temperature</li>
<li>Wind Direction</li>
<li>Wind Speed</li>
<li>Humidity</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Calculator"></i>
				<h5>Statistics</h5>
				</p>
<ul style="list-style: circle;">
<li>NBA: Points, Rebounds, FG%…</li>
<li>NFL: Points, Passing, Rushing…</li>
<li>NCAAF: Points, Points Allowed, Yards, Yards Allowed…</li>
<li>More Coming Soon…</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Calendar-3"></i>
				<h5> Statistical Streaks</h5>
				</p>
<ul style="list-style: circle;">
<li>Offensive/Defensive Points</li>
<li>Offensive/Defensive FG%</li>
<li>Turnover Streak</li>
<li>Sacks Allowed Streak</li>
<li>More Coming Soon</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Calendar-4"></i>
				<h5> Previous Game</h5>
				</p>
<ul style="list-style: circle;">
<li>Winning Streaks</li>
<li>Losing Streaks</li>
<li>Against the Spread (ATS) Streaks</li>
<li>Previous Game Home/Away</li>
<li>Previous Game Favorite/Dog</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Flask"></i>
				<h5>And many more</h5>
				</p>
<ul style="list-style: circle;">
<li>Number of Bets</li>
<li>Number of Line Moves</li>
<li>1st/2nd Half Systems</li>
<li>Referees/Officials</li>
<li>NCAAB Seeds</li>
</ul>
<p>

			</div>
		</div></div></div></div></div></section><!-- Row Backgrounds --><div class="upb_color" data-bg-override="0" data-bg-color="#c0c0c0" data-fadeout="" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false"  data-custom-vc-row=""  data-vc="5.0.1"  data-is_old_vc=""  data-theme-support=""   data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""    ></div><section class="vc_row wpb_row vc_row-fluid"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_raw_js">
		<div class="wpb_wrapper">
			<!-- Start of betlabs Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="../../static.zdassets.com/ekr/asset_composer.js",this.t=+new Date,this.zendeskHost="betlabs.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]&gt;*/</script>
<!-- End of betlabs Zendesk Widget script -->
		</div>
	</div>
</div></div></div></div></div>
<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1483368842123{padding-bottom: 20px !important;background-image: url(../static/sports/cdn-betlabs.pressidium.com/wp-content/uploads/2016/08/betlabs_background-2.jpg) !important;background-size: cover}.vc_custom_1483365817543{padding-top: 20px !important;padding-bottom: 20px !important;}.vc_custom_1482970531896{padding-bottom: 20px !important;}.vc_custom_1482970503999{padding-bottom: 20px !important;}.vc_custom_1482970511891{padding-bottom: 20px !important;}.vc_custom_1485440330610{padding-bottom: 0px !important;}.vc_custom_1485440350094{padding-top: 40px !important;}.vc_custom_1431542789674{padding-top: 1em !important;}</style>
</section>
</div>
{% endblock %}