{% extends 'sports/index.html' %}
{% load static %}
{% block contact %}Contact Us - Bettor Labs - Sports Betting Statistics{% endblock %}

{% block content %}
<div class="main-container transition--fade"><section class="vc_row wpb_row vc_row-fluid"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div><div class="wpb_column column_container col-sm-8"><div class="vc_column-inner vc_custom_1439488950990"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_right-to-left right-to-left content-heading">
		<div class="wpb_wrapper">
			<h1>Contact Us</h1>
<p>We strive to offer the highest level of customer service possible. We reply to all inquires within 30 minutes during normal business hours 9am-10pm ET. Fill out the form below to contact us.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_right-to-left right-to-left">
		<div class="wpb_wrapper">
			<div id='contact-form-6338'>
<form method="post" class='contact-form commentsblock' id="form">
{% csrf_token %}

    <div>
		<label for='g6338-tittle' class='grunion-field-label name'>Tittle<span>(required)</span></label>
		<input type='text' name='g6338-tittle' id='g6338-tittle' value='' class='name'  required aria-required='true'/>
	</div>

    <div>
		<label for='g6338-name' class='grunion-field-label name'>Name<span>(required)</span></label>
		<input type='text' name='g6338-name' id='g6338-name' value='' class='name'  required aria-required='true'/>
	</div>

<div>
		<label for='g6338-email' class='grunion-field-label email'>Email<span>(required)</span></label>
		<input type='email' name='g6338-email' id='g6338-email' value='' class='email'  required aria-required='true'/>
	</div>

<div>
		<label for='contact-form-comment-g6338-comment' class='grunion-field-label textarea'>Comment<span>(required)</span></label>
		<textarea name='g6338-comment' id='contact-form-comment-g6338-comment' rows='20' class='textarea'  required aria-required='true'></textarea>
	</div>
	<p class='contact-submit'>
		<input value='Submit &#187;' class='pushbutton-wide'/>
		<input type='hidden' name='contact-form-id' value='6338' />
		<input type='hidden' name='action' value='grunion-contact-form' />
	</p>
</form>
</div>

		</div>
	</div>
</div></div></div><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_raw_js">
		<div class="wpb_wrapper">
			<!-- Start of betlabs Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="../../static.zdassets.com/ekr/asset_composer.js",this.t=+new Date,this.zendeskHost="betlabs.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]&gt;*/</script>
<!-- End of betlabs Zendesk Widget script -->
		</div>
	</div>
</div></div></div></div></div></section>
</div>
{% endblock %}