{% extends 'sports/index.html' %}
{% load static %}

{% block title %}Explore Winning Betting Systems - Bettor Labs - Sports Betting Statistics{% endblock %}

{% block content %}



<div class="main-container transition--fade"><section class="vc_row wpb_row vc_row-fluid vc_custom_1483369229911 vc_row-has-fill"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_right-to-left right-to-left content-heading">
		<div class="wpb_wrapper">
			<h1 style="color: #fff;">Explore Winning Betting Systems</h1>
<p><span style="color: #fff;"><br />
Our exclusive Think Tank is loaded with thousands of systems you can analyze, rate and copy for your own use. And with our helpful community at the ready, you can share your own systems with the Think Tank and get valuable feedback.</span></p>

		</div>
	</div>
</div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid vc_custom_1483369424402"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_right  wpb_animate_when_almost_visible wpb_right-to-left right-to-left  nothickbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2016/08/pro-systems.png' %}" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2016/08/pro-systems-150x150.png' %}" class="vc_single_image-img attachment-thumbnail" alt="Pro systems" /></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column column_container col-sm-10"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_right-to-left right-to-left margin-right-12em">
		<div class="wpb_wrapper">
			<h2>Pro Systems by Bettor Labs</h2>
<p>Choose from over 50 professionally built systems by the staff at Bettor Labs. It&#8217;s the quickest and easiest way to benefit from data-driven research.</p>

		</div>
	</div>
</div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid vc_custom_1483369435171"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_right  wpb_animate_when_almost_visible wpb_right-to-left right-to-left  nothickbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2016/08/community-shared-systems.png' %}" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2016/08/community-shared-systems-150x150.png' %}" class="vc_single_image-img attachment-thumbnail" alt="Community shared systems" /></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column column_container col-sm-10"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_right-to-left right-to-left margin-right-12em">
		<div class="wpb_wrapper">
			<h2>Community shared systems</h2>
<p>Leverage the power of the Bettor Labs Community by viewing systems shared by other Bettor Labs users. Browsing shared systems is great way to spark new ideas and gain insight. And when you&#8217;re ready, you can share your own systems and get valuable feedback from other members and the Bettor Labs staff.</p>

		</div>
	</div>
</div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid vc_custom_1483369442081"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<div class="wpb_wrapper">
<p style="text-align: center;"><a class="btn build-system-now-button btn--primary btn-xl btn-subtext" href="../pricing/index.html">Get Started Now</a></p>
</div>

		</div>
	</div>
</div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid vc_custom_1483369448859 vc_row-has-fill"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;">Build with over 400 filters including&#8230;</h3>

		</div>
	</div>
</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Pie-Chart3"></i>
				<h5>Public Betting Data</h5>
				</p>
<ul style="list-style: circle;">
<li>% of Bets on Spread, Moneyline, O/U</li>
<li>% of Money on Spread, Moneyline, O/U</li>
<li>Number of Bets</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Alarm"></i>
				<h5>Time Period</h5>
				</p>
<ul style="list-style: circle;">
<li>Game Month</li>
<li>Custom Date Range</li>
<li>Time of Day</li>
<li>Day of Week</li>
<li>Pre / Post Season</li>
<li>Time Zone</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Sports-Shirt"></i>
				<h5>Player Information</h5>
				</p>
<ul style="list-style: circle;">
<li>Player</li>
<li>Quaterback</li>
<li>Pitcher</li>
<li>Opposing Pitcher</li>
<li>Goalie</li>
<li>Opposing Goalie</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Line-Chart4"></i>
				<h5>Line Information</h5>
				</p>
<ul style="list-style: circle;">
<li>Opening & Closing lines</li>
<li>Spread, Moneyline, Totals</li>
<li>Juice</li>
<li>Line Change</li>
<li>Previous Game Spread</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Cloud-Rain"></i>
				<h5>Weather Information</h5>
				</p>
<ul style="list-style: circle;">
<li>Temperature</li>
<li>Wind Direction</li>
<li>Wind Speed</li>
<li>Humidity</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Calculator"></i>
				<h5>Statistics</h5>
				</p>
<ul style="list-style: circle;">
<li>NBA: Points, Rebounds, FG%…</li>
<li>NFL: Points, Passing, Rushing…</li>
<li>NCAAF: Points, Points Allowed, Yards, Yards Allowed…</li>
<li>More Coming Soon…</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Calendar-3"></i>
				<h5> Statistical Streaks</h5>
				</p>
<ul style="list-style: circle;">
<li>Offensive/Defensive Points</li>
<li>Offensive/Defensive FG%</li>
<li>Turnover Streak</li>
<li>Sacks Allowed Streak</li>
<li>More Coming Soon</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Calendar-4"></i>
				<h5> Previous Game</h5>
				</p>
<ul style="list-style: circle;">
<li>Winning Streaks</li>
<li>Losing Streaks</li>
<li>Against the Spread (ATS) Streaks</li>
<li>Previous Game Home/Away</li>
<li>Previous Game Favorite/Dog</li>
</ul>
<p>

			</div>
		</div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
			<div class="feature boxed feature-1 text-center">
				<i class="icon--pillar icon-Flask"></i>
				<h5>And many more</h5>
				</p>
<ul style="list-style: circle;">
<li>Number of Bets</li>
<li>Number of Line Moves</li>
<li>1st/2nd Half Systems</li>
<li>Referees/Officials</li>
<li>NCAAB Seeds</li>
</ul>
<p>

			</div>
		</div></div></div></div></div>

<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1483369229911{padding-top: 60px !important;padding-bottom: 60px !important;background-image: url(../static/sports/cdn-betlabs.pressidium.com/wp-content/uploads/2016/08/betlabs_background-2.jpg) !important;background-size: cover}.vc_custom_1483369424402{padding-top: 40px !important;padding-bottom: 40px !important;}.vc_custom_1483369435171{padding-top: 40px !important;padding-bottom: 40px !important;}.vc_custom_1483369442081{padding-top: 40px !important;padding-bottom: 40px !important;}.vc_custom_1483369448859{padding-top: 40px !important;background-color: #c0c0c0 !important;}</style>
	</section>
</div>
{% endblock %}