{% extends 'sports/index.html' %}
{% load static %}
{% block title %}How It Works - Bettor Labs - Sports Betting Statistics{% endblock %}

{% block content %}
    <div class="main-container transition--fade">
        <section class="vc_row wpb_row vc_row-fluid vc_custom_1485538056617 vc_row-has-fill"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_right-to-left right-to-left content-heading">
                <div class="wpb_wrapper">
                    <h1 style="text-align: center; color: #fff;">How It Works</h1>
                    <p class="lead" style="text-align: center; color: #fff; font-size: 1.1em;">Building a winning sports betting system no longer requires a Ph.D. in statistics, advanced computer programming skills, and time poring over spreadsheet data.</p>

                </div>
            </div>
        </div></div></div></div></div></section>
        <section class="vc_row wpb_row vc_row-fluid vc_custom_1485538384354"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element  vc_custom_1485538360274">
                <div class="wpb_wrapper">
                    <p>Bettor Labs does all the heavy lifting. Members have instant access to a massive database of propriety sports betting information. Simply select from 400+ data filters and immediately see historical results. There is no need to learn a special coding language or even how to use spreadsheets.</p>
                    <p><strong>If you can click a mouse, you can use Bettor Labs. There are two ways to use Bettor Labs:</strong></p>

                </div>
            </div>
        </div></div></div></div></div></section>
        <section class="vc_row wpb_row vc_row-fluid vc_custom_1482970797079"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper">
            <div class="wpb_single_image wpb_content_element vc_align_right   nothickbox">

                <figure class="wpb_wrapper vc_figure">
                    <a href="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2015/05/build-system.png' %}" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2015/05/build-system-150x150.png' %}" class="vc_single_image-img attachment-thumbnail" alt="" /></a>
                </figure>
            </div>
        </div></div></div><div class="wpb_column column_container col-sm-10"><div class="vc_column-inner "><div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element  margin-right-12em">
                <div class="wpb_wrapper">
                    <h2>Build</h2>
                    <p>Leverage our massive betting database and 400+ filters to conduct your own research and build your own proprietary betting systems. The possibilities are limitless. You can test almost any idea or theory in seconds. Once you set up your selected systems, we’ll notify you whenever a game fits your systems. <a href="../build-systems/index.html">More on building »</a></p>

                </div>
            </div>
        </div></div></div></div></div></section>
        <section class="vc_row wpb_row vc_row-fluid vc_custom_1485538432444"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper">
            <div class="wpb_single_image wpb_content_element vc_align_right   nothickbox">

                <figure class="wpb_wrapper vc_figure">
                    <a href="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2016/08/pro-systems.png' %}" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2016/08/pro-systems-150x150.png' %}" class="vc_single_image-img attachment-thumbnail" alt="Pro systems" /></a>
                </figure>
            </div>
        </div></div></div><div class="wpb_column column_container col-sm-10"><div class="vc_column-inner "><div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element  margin-right-12em">
                <div class="wpb_wrapper">
                    <h2> Explore</h2>
                    <p>Choose from over 50 professionally developed betting systems. Paying members can follow as many systems as they want, with notifications when upcoming games meet the selected systems. They can also view, follow, and comment on community shared systems. <a href="../explore-systems/index.html">More on exploring systems »</a></p>

                </div>
            </div>
        </div></div></div></div></div></section>
        <section class="vc_row wpb_row vc_row-fluid vc_custom_1485440056571"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <div class="wpb_wrapper">
                        <p style="text-align: center;"><a class="btn btn--primary build-system-now-button btn-default btn-lg btn-subtext" href="../pricing/index.html">Get Started Now</a></p>
                    </div>

                </div>
            </div>
        </div></div></div></div></div></section>
        <section class="vc_row wpb_row vc_row-fluid vc_custom_1485440023735"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span><h4>Behind the Scenes</h4><span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
        </div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex"><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
            <div class="feature feature-1 text-center">
                <i class="icon--pillar color--primary icon--lg icon-Line-Chart4"></i>
                <h4>Historical Odds</h4>
                <p>Our historical odds and betting trends database stretches back to 2003 giving your systems a solid sample size.</p>
            </div>

            <div class="feature feature-1 text-center">
                <i class="icon--pillar color--primary icon--lg icon-Layer-1646"></i>
                <h4>9 Major Sports</h4>
                <p>The most you’ll find anywhere. Build and follow systems in the NFL, NCAA Football, NBA, NCAA Basketball, MLB, NHL, CFL WNBA, and Premier League Soccer.</p>
            </div>
        </div></div></div><div class="wpb_column column_container col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
            <div class="feature feature-1 text-center">
                <i class="icon--pillar color--primary icon--lg icon-Flask"></i>
                <h4>Solid Framework</h4>
                <p>We’re hosted on always-available, super-fast, secure Amazon Web Services so you’ll always have access to Bettor Labs.</p>
            </div>

            <div class="feature feature-1 text-center">
                <i class="icon--pillar color--primary icon--lg icon-Cloud"></i>
                <h4>We've Got You Covered</h4>
                <p>Your data is backed up daily to our cloud storage. No more lost hours of work.</p>
            </div>
        </div></div></div><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div></div></div></div></div></div></section>
        <section class="vc_row wpb_row vc_row-fluid"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
            <div class="wpb_raw_code wpb_raw_js">

            </div>
        </div></div></div>
        </div></div>

<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1485538056617{padding-bottom: 20px !important;background-image: url(../static/sports/cdn-betlabs.pressidium.com/wp-content/uploads/2016/08/betlabs_background-2.jpg) !important;background-size: cover}.vc_custom_1485538384354{padding-top: 40px !important;padding-bottom: 40px !important;}.vc_custom_1482970797079{padding-bottom: 20px !important;}.vc_custom_1485538432444{padding-bottom: 20px !important;}.vc_custom_1485440056571{padding-bottom: 20px !important;}.vc_custom_1485440023735{padding-top: 0px !important;}.vc_custom_1485538360274{padding-bottom: 0px !important;}</style>
        </section>
    </div>
{% endblock %}