{% load static %}
<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="xmlrpc.php" />
    <title>{% block title %}NFL, MLB and NBA Betting Trends | Sports Betting Systems - Bettor Labs{% endblock %}</title>

    <meta name="description" content="Discover the power of building data driven betting systems &amp; create your own in minutes. Get started for free."/>
    <link rel="canonical" href="index.html" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="NFL, MLB and NBA Betting Trends | Sports Betting Systems - Bettor Labs" />
    <meta property="og:description" content="Discover the power of building data driven betting systems &amp; create your own in minutes. Get started for free." />
    <meta property="og:url" content="index.html" />
    <meta property="og:site_name" content="Bettor Labs - Sports Betting Statistics" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Discover the power of building data driven betting systems &amp; create your own in minutes. Get started for free." />
    <meta name="twitter:title" content="NFL, MLB and NBA Betting Trends | Sports Betting Systems - Bettor Labs" />
    <meta name="twitter:site" content="@bet_labs" />
    <meta name="twitter:creator" content="@bet_labs" />
    
    <script type='application/ld+json'>{"@context":"https:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.betlabssports.com\/","name":"Bettor Labs - Sports Betting Statistics","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.betlabssports.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>

    <link rel='dns-prefetch' href='http://s0.wp.com/' />
    <link rel='dns-prefetch' href='http://platform-api.sharethis.com/' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />

    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.betlabssports.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.9"}};
        !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='unslider-css-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/advanced-ads-slider/public/assets/css/unslider9e1e.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='slider-css-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/advanced-ads-slider/public/assets/css/slider9e1e.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/contact-form-7/includes/css/styles1c9b.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='fm-jquery-ui-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/form-maker/css/jquery-ui-1.10.3.custome899.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='fm-jquery-ui-spinner-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/form-maker/css/jquery-ui-spinnere899.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='form_maker_calendar-jos-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/form-maker/css/calendar-jose899.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='phone_field_css-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/form-maker/css/intlTelInpute899.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='form_maker_frontend-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/form-maker/css/form_maker_frontende899.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='fm_googlefonts-css'  href='https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Droid+Sans|Lato|Open+Sans+Condensed|PT+Sans|Ubuntu|PT+Sans+Narrow|Yanone+Kaffeesatz|Roboto+Condensed|Source+Sans+Pro|Nunito|Francois+One|Roboto|Raleway|Arimo|Cuprum|Play|Dosis|Abel|Droid+Serif|Arvo|Lora|Rokkitt|PT+Serif|Bitter|Merriweather|Vollkorn|Cantata+One|Kreon|Josefin+Slab|Playfair+Display|Bree+Serif|Crimson+Text|Old+Standard+TT|Sanchez|Crete+Round|Cardo|Noticia+Text|Judson|Lobster|Unkempt|Changa+One|Special+Elite|Chewy|Comfortaa|Boogaloo|Fredoka+One|Luckiest+Guy|Cherry+Cream+Soda|Lobster+Two|Righteous|Squada+One|Black+Ops+One|Happy+Monkey|Passion+One|Nova+Square|Metamorphous|Poiret+One|Bevan|Shadows+Into+Light|The+Girl+Next+Door|Coming+Soon|Dancing+Script|Pacifico|Crafty+Girls|Calligraffitti|Rock+Salt|Amatic+SC|Leckerli+One|Tangerine|Reenie+Beanie|Satisfy|Gloria+Hallelujah|Permanent+Marker|Covered+By+Your+Grace|Walter+Turncoat|Patrick+Hand|Schoolbell|Indie+Flower&amp;subset=greek,latin,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' type='text/css' media='all' />
    <link rel='stylesheet' id='fm-animate-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/form-maker/css/frontend/fm-animatee899.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='fm-font-awesome-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/form-maker/css/frontend/font-awesome/font-awesomee899.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-lightbox-nivo_lightbox-css-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/responsive-lightbox-pro/assets/nivo-lightbox/nivo-lightboxd87f.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-lightbox-nivo_lightbox-css-d-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/responsive-lightbox-pro/assets/nivo-lightbox/themes/simple/simpled87f.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='dpsp-frontend-style-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/social-pug/assets/css/style-frontendd87f.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='tablepress-default-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/tablepress/css/default.min97e1.css' %} type='text/css' media='all' />


    <link rel='stylesheet' id='bsf-Defaults-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/smile_fonts/Defaults/Defaultsd87f.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='ultimate-style-min-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/Ultimate_VC_Addons/assets/min-css/ultimate.minbcd2.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/themes/pillar/style/css/bootstrapd87f.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='ebor-fonts-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/themes/pillar/style/css/iconsd87f.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='ebor-plugins-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/themes/pillar/style/css/pluginsd87f.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='chld_thm_cfg_parent-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/themes/pillar/styled87f.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='ebor-google-font-css'  href='http://fonts.googleapis.com/css?family=Lora%3A400%2C400italic%2C700%7CMontserrat%3A400%2C700&amp;ver=1.0.0' %} type='text/css' media='all' />
    <link rel='stylesheet' id='ebor-theme-styles-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/wp-less/pillar/style/css/theme-338f1fb78c.css' %} type='text/css' media='all' />
    <link rel='stylesheet' id='ebor-style-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/themes/pillar-child/styled87f.css' %} type='text/css' media='all' />
    <style id='ebor-style-inline-css' type='text/css'>

        @media all and (max-width: 1024px) {
            .parallax > .background-image-holder,
            .parallax .slides li > .background-image-holder {
                top: 0 !important;
                transform: none !important;
                -webkit-transform: none !important;
                height: 100%;
            }
        }

    </style>
    <link rel='stylesheet' id='jetpack_css-css'  href={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/jetpack/css/jetpack33a6.css' %} type='text/css' media='all' />
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-includes/js/jquery/jqueryb8ff.js' %}></script>
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-includes/js/jquery/jquery-migrate.min330a.js' %}></script>
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/wp-google-analytics-events/js/ga-scroll-events8066.js'%}></script>
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/advanced-ads-slider/public/assets/js/unslider.min9e1e.js'%}></script>
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/advanced-ads-slider/public/assets/js/jquery.event.move9e1e.js'%}></script>
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/advanced-ads-slider/public/assets/js/jquery.event.swipe9e1e.js'%}></script>
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-includes/js/jquery/ui/core.mine899.js'%}></script>
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/form-maker/js/if_gmap_front_ende899.js'%}></script>
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/form-maker/js/intlTelInpute899.js'%}></script>
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/form-maker/js/calendar/calendare899.js'%}></script>
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/form-maker/js/calendar/calendar_functione899.js'%}></script>

    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/form-maker/js/main_div_front_ende899.js'%}></script>
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/responsive-lightbox-pro/assets/nivo-lightbox/nivo-lightbox.mind87f.js'%}></script>

    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/social-pug/assets/js/front-endd87f.js'%}></script>
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/advanced-ads/public/assets/js/advanced7bc2.js'%}></script>

    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/advanced-ads-responsive/public/assets/js/script47a7.js'%}></script>
    <script type='text/javascript' src='{% static 'sports/js/sharethis.js' %}'></script>
    <script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/ultimate.minbcd2.js'%}></script>

    <link rel='https://api.w.org/' href='{% static 'sports/wp-json/index.html' %}' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="{% static 'sports/xmlrpc0db0.php' %}" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% static 'sports/wp-includes/wlwmanifest.xml' %}" />
    <link rel='shortlink' href='https://wp.me/P6wvw3-2VC'/>
    <link rel="alternate" type="application/json+oembed" href="{% static 'sports/wp-json/oembed/1.0/embed05ec.json' %}" />
    <link rel="alternate" type="text/xml+oembed" href="{% static 'sports/wp-json/oembed/1.0/embed9265' %}" />
    <script type="text/javascript"><!--
    function powerpress_pinw(pinw_url){window.open(pinw_url, 'PowerPressPlayer','toolbar=0,status=0,resizable=1,width=460,height=320');	return false;}
    //-->
    </script>
    <style>.nivo-lightbox-theme-simple.nivo-lightbox-overlay { background: none repeat scroll 0 0 rgba(0,0,0,0.6)!important;}</style><style>.nivo-lightbox-theme-simple .nivo-lightbox-image img{ cursor:pointer; cursor: hand;}</style><style>.nivo-lightbox-theme-simple .nivo-lightbox-title { background:#000!important;}</style><style>.nivo-lightbox-content { width: 55%; height: 75%; min-height: 450px; margin: 0 auto; } .nivo-lightbox-content + .nivo-lightbox-title-wrap { display: none }</style><style>.nivo-lightbox-theme-simple .nivo-lightbox-nav:hover { background-color:rgba(253, 245, 245, 0.5)!important;}</style><style type="text/css" data-source="Social Pug"></style><meta name="twitter:card" 		content="summary" /><meta property="og:url"			content="https://www.betlabssports.com/" /><meta property="og:type"			content="article" /><meta property="og:title"			content="Home Page" /><meta property="og:description" 	content="" /><meta property="og:image" 		content="" /><script>advads_items = { conditions: {}, display_callbacks: {}, display_effect_callbacks: {}, hide_callbacks: {}, backgrounds: {}, effect_durations: {}, close_functions: {}, showed: [] };</script><style type="text/css" id="advads-layer-custom-css"></style>
    <link rel='dns-prefetch' href='http://v0.wordpress.com/'>
    <style type='text/css'>img#wpstats{display:none}</style>
    <script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="35eab57822fa482780e2b825f0b79c5f41db0a2c33974c598a2b67547fb5a28f",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};if(!o.noaa){z(b+"aa/"+t+'?'+p,false)};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script><meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
    <style type="text/css" data-type="vc_custom-css">.btn--primary {
        margin-bottom: 0px;
    }
    .tfeature {
        min-height: 480px;
    }

    .lede-homepage p {
        color: #fff;
        font-size: 2em;
        line-height: 1.6em;
        text-shadow: 0px 2px 1px #000;
    }

    .lede-homepage h1 {
        color: #fff;
        line-height: 1.6em !important;
        text-shadow: 0px 2px 1px #000;
        font: normal 2em 'PT Sans', 'Helvetica', 'Arial', sans-serif;
    }

    .headline-homepage {
        text-shadow: 0px 2px 1px #000;
        color: #fff;
        font: normal 7.9em Montserrat, 'Helvetica', 'Arial', sans-serif;
        text-align: center;
    }

    @media (max-width:601px)
    {
        .headline-homepage {
            font-size: 4.8em;
        }
    }
    @media (max-width:321px)
    {
        .homepage-ctas .btn--primary {
            margin-bottom: 1.5em;
        }
        .feature .feature__right h4 {
            font-size: 1.25em;
        }
    }

    .feature-column-homepage h2 {
        font-size: 1.4375em
    }
    .feature-column-homepage .feature.feature-3 .feature__left .icon--lg  {
        font-size: 3em;
    }
    .feature-column-homepage .feature.feature-3 {
        margin-bottom: 1em;
    }
    .feature-column-homepage .feature.feature-3 .feature__left {
        margin-right: 0.6em;
    }
    .feature-column-homepage .feature.feature-3 .feature__right {
        padding-top: 0.8em;
    }</style><style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1487260719917{margin-bottom: 0px !important;padding-bottom: 100px !important;}.vc_custom_1487259819010{padding-top: 3em !important;padding-bottom: 3em !important;}.vc_custom_1495198615352{margin-bottom: 0.35em !important;}.vc_custom_1495199128620{padding-top: 1em !important;padding-bottom: 0.6em !important;}.vc_custom_1486652891471{padding-right: 0.5em !important;padding-left: 0.5em !important;}.vc_custom_1486652903857{padding-right: 0.5em !important;padding-left: 0.5em !important;}.vc_custom_1486652922408{padding-right: 0.5em !important;padding-left: 0.5em !important;}.vc_custom_1486653467188{padding-right: 0.7em !important;padding-left: 0.7em !important;}.vc_custom_1486653579579{padding-right: 0.7em !important;padding-left: 0.7em !important;}.vc_custom_1486653416121{padding-right: 0.7em !important;padding-left: 0.7em !important;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
    <link rel="stylesheet" type="text/css" href="{% static 'sports/custom-style.css' %}" media="all">
    
    
</head>

<body class="home page-template-default page page-id-11260  scroll-assist no-page-loader wpb-js-composer js-comp-ver-5.0.1 vc_responsive">

<a href="#" id="top"></a>

<div class="pillar-loader"></div>


<div class="modal-container search-modal" data-modal-id="search-form">
    <div class="modal-content bg-white imagebg" data-width="100%" data-height="100%">
        <div class="pos-vertical-center clearfix">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <form class="search-form" method="get" id="searchform" action="https://www.betlabssports.com/">
                    <div class="input-with-icon">
                        <i class="icon-Magnifi-Glass2"></i>
                        <input type="text" id="s2" class="mb0" name="s" placeholder="Search Blog" />
                    </div>
                </form>			</div>
        </div>
    </div><!--end of modal-content-->
</div><!--end of modal-container-->
<nav class="transition--fade">

    <div class="nav-bar" data-fixed-at="200">
        <div class="nav-inner">


            <div class="nav-module logo-module left">
                <a href="{% url 'home' %}">
                    <img class="logo logo-dark" alt="logo" src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2017/10/bl-an-logo.png' %}" />
                    <img class="logo logo-light" alt="logo" src="#" />
                </a>
            </div>
            <div class="nav-float-right">

                <div class="nav-module menu-module left">
                    <ul id="menu-kleonavmenu" class="menu"><li id="menu-item-8869" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8869"><a href="{% url 'how-it-works' %}">How It Works</a></li>
                        <li id="menu-item-8870" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8870"><a href="{% url 'build-systems' %}">Build Systems</a></li>
                        <li id="menu-item-8871" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8871"><a href="{% url 'explore-systems' %}">Explore Systems</a></li>
                        <li id="menu-item-5766" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5766"><a href="{% url 'pricing' %}">Pricing</a></li>
                        <li id="menu-item-12281" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12281"><a href="{% url 'strategy' %}">Strategy</a></li>
                        <li id="menu-item-11201" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11201"><a href="{% url 'blog' %}">Blog</a></li>
                    </ul>		        </div><!--end nav module-->

                <div class="nav-module right">
                    <div id="menuItemLogin2"  class="module widget-handle uppercase left">
                        <a class="btn btn--success" href="#" style="
    height: 30px;
    padding: 4px 6px;letter-spacing: 1px;
    width: 100px;
    min-width: 80px;
    line-height: 18px;font-weight:700;border: 2px solid #474747;
font-size:12px;
">Signup</a>
                        <a style="
    height: 30px;letter-spacing: 1px;
    padding: 4px 6px;  font-weight:700; border: 2px solid #474747;
    width: 100px;min-width: 80px;line-height: 18px;font-size:12px;
" class="btn btn-default" href="#">Login</a>
                    </div>
                </div>


            </div>

        </div>
    </div><!--end nav bar-->

    <div class="nav-mobile-toggle visible-sm visible-xs">
        <i class="icon-Align-Right pillar--icon icon--sm"></i>
    </div>

</nav>

{% block content %}
<div class="main-container transition--fade"><section class="vc_row wpb_row vc_row-fluid bg---secondary vc_custom_1487260719917"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  vc_custom_1495198615352 headline-homepage">

        <div class="wpb_wrapper">
            <p style="margin-bottom: 0">Believe in Data</p>

        </div>
    </div>
    <div class="vc_row wpb_row vc_inner vc_row-fluid" ><div class="wpb_column column_container col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
        <div class="wpb_single_image wpb_content_element vc_align_left  wpb_animate_when_almost_visible wpb_slideInLeft slideInLeft">

            <figure class="wpb_wrapper vc_figure">
                <div class="vc_single_image-wrapper vc_box_border_grey"><img width="656" height="387" src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2017/02/laptop.png' %}" class="vc_single_image-img attachment-large" sizes="(max-width: 656px) 100vw, 656px" /></div>
            </figure>
        </div>
    </div></div></div><div class="wpb_column column_container col-sm-6" ><div class="vc_column-inner "><div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element  vc_custom_1495199128620 lede-homepage" >
            <div class="wpb_wrapper">
                <h1>Build betting systems with millions of data points. No coding required.</h1>

            </div>
        </div>

        <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_slideInRight slideInRight homepage-ctas" >
            <div class="wpb_wrapper">
                <p style="text-align: center;"><a class="btn btn--primary" href="{% url 'pricing' %}"><span class="btn__text">GET STARTED</span></a> <span class="wistia_embed wistia_async_apesq74db0 popover=true popoverContent=link popoverSize=920x518" style="display: inline;"><a class="btn btn-default" style="margin-bottom: 0px;" href="#">TAKE A TOUR</a></span></p>

            </div>
        </div>
    </div></div></div></div></div></div></div></div></div></section><!-- Row Backgrounds -->
    <div  class="upb_bg_img" data-ultimate-bg="url({% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2017/02/sport.png' %})" data-ultimate-bg-style="vcpb-vz-jquery" data-bg-img-repeat="no-repeat" data-bg-img-size="cover" data-bg-img-position="" data-parallx_sense="30" data-bg-override="0" data-bg_img_attach="scroll" data-upb-overlay-color="" data-upb-bg-animation="" data-fadeout="" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false"  data-custom-vc-row=""  data-vc="5.0.1"  data-is_old_vc=""  data-theme-support=""   data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size="" >
        
    </div><section class="vc_row wpb_row vc_row-fluid vc_custom_1487259819010"><div class="container"><div class="row"><div class="feature-column-homepage wpb_column column_container col-sm-4"><div class="vc_column-inner vc_custom_1486652891471"><div class="wpb_wrapper">
    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
        <div class="wpb_wrapper">
            <div class="feature feature-3 standard">
                <div class="feature__left">
                    <i class="icon--pillar icon--lg icon-Pencil"></i>
                </div>
                <div class="feature__right">
                    <h2>Build a system</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="wpb_text_column wpb_content_element  vc_custom_1486653467188">
        <div class="wpb_wrapper">
            <div style="text-align: center;"><span class="wistia_embed wistia_async_3q7sef534p popover=true popoverAnimateThumbnail=true popoverSize=920x518" style="display: inline-block; height: 141px; width: 250px;">
                <div>
      <iframe  src="https://www.youtube.com/embed/s58osmryoMY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
 </span></div>
            <p><span id="feature-text"><br />
Create your own betting systems with our extensive sports betting database.  Find valuable angles through data analysis, not touts.</span></p>

        </div>
    </div>
</div></div></div><div class="feature-column-homepage wpb_column column_container col-sm-4"><div class="vc_column-inner vc_custom_1486652903857"><div class="wpb_wrapper">
    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
        <div class="wpb_wrapper">
            <div class="feature feature-3 text-center">
                <div class="feature__left">
                    <i class="icon--pillar icon--lg icon-Magnifi-Glass2"></i>
                </div>
                <div class="feature__right">
                    <h2>Explore systems</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_text_column wpb_content_element  vc_custom_1486653579579">
        <div class="wpb_wrapper">
            <div style="text-align: center;"><span class="wistia_embed wistia_async_r68ky8nopv popover=true popoverAnimateThumbnail=true popoverSize=920x518" style="display: inline-block; height: 141px; width: 250px;">
                <div>
      <iframe width="250" height="141" src="https://www.youtube.com/embed/s58osmryoMY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
 </span></div>
            <p><span id="feature-text"><br />
Get instant access to hundreds of systems made by the community and the pros at Bettor Labs. </span></p>

        </div>
    </div>
</div></div></div><div class="feature-column-homepage wpb_column column_container col-sm-4"><div class="vc_column-inner vc_custom_1486652922408"><div class="wpb_wrapper">
    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
        <div class="wpb_wrapper">
            <div class="feature feature-3 standard">
                <div class="feature__left">
                    <i class="icon--pillar icon--lg icon-Coding"></i>
                </div>
                <div class="feature__right">
                    <h2>No Coding Required</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_text_column wpb_content_element  vc_custom_1486653416121">
        <div class="wpb_wrapper">
            <div style="text-align: center;"><span class="wistia_embed wistia_async_2o42foe1um popover=true popoverAnimateThumbnail=true" style="display: inline-block; height: 141px; width: 250px;">

                <div>
      <iframe width="250" height="141" src="https://www.youtube.com/embed/s58osmryoMY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
 </span></div>
            <p><span id="feature-text"><br />
Building your systems is as easy as point and click. With our fast-updating results, you&#8217;ll have a winning system in minutes.</span></p>

        </div>
    </div>
</div></div></div></div></div></section></div>{% endblock %}
    <footer class="bg--dark footer-4">

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6"><div id="text-6" class="widget widget_text sidebar__element">			<div class="textwidget"><ul><li><a href="{% url 'how-it-works' %}">How It Works</a></li>

                    <li><a href="{% url 'build-systems' %}">Build Systems</a></li>

                    <li><a href="{% url 'explore-systems' %}">Explore Systems</a></li>


                    <li><a href="{% url 'pricing' %}">Pricing</a></li></ul></div>
                </div></div><div class="col-md-3 col-sm-6"><div id="text-7" class="widget widget_text sidebar__element">			<div class="textwidget"><ul><li><a href="#">Sign Up Now</a></li>


                <li><a href="#">Login</a></li>

                <li><a href="{% url 'blog' %}">Our Blog</a></li><a href="{% url 'contact' %}">Contact Us</a></li></ul></div>
            </div></div><div class="col-md-3 col-sm-6">		<div id="recent-posts-4" class="widget widget_recent_entries sidebar__element">		<h6 class="widget-title">&nbsp;</h6>		<ul>
                {% for articles in latest_articles %}
                <li>
                    <a href="{% url 'article' pk=articles.id %}">{{ articles.title }}</a>
                </li>
                {% endfor %}
            </ul>
            </div></div><div class="col-md-3 col-sm-6"><div id="text-8" class="widget widget_text sidebar__element">			<div class="textwidget"><table width="100%" border="0">
                <tbody>
                <tr>
                    <td width="15%" style="padding-top:10px; padding-bottom:10px; text-align:center;"><a href="#" target="_blank"><img src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2017/01/social-footer_twitter.jpg' %}" style="max-width:30px; max-height:30px; border:1px solid #555555;" alt=""></a></td>
                    <td width="85%" style="padding-top:10px; padding-bottom:10px; text-align:left; padding-left:10px;"><a href="#" target="_blank" style="font-family:'PT Sans', sans-serif !important; color:#c0c0c0; font-weight:400; font-size:14px; text-decoration:none;">Follow on Twitter</a></td>
                </tr>
                <tr>
                    <td width="15%" style="padding-top:10px; padding-bottom:10px; text-align:center;"><a href="#" target="_blank"><img src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2017/01/social-footer_facebook.jpg' %}" style="max-width:30px; max-height:30px; border:1px solid #555555;" alt=""></a></td>
                    <td width="85%" style="padding-top:10px; padding-bottom:10px; text-align:left; padding-left:10px;"><a href="#" target="_blank" style="font-family:'PT Sans', sans-serif !important; color:#c0c0c0; font-weight:400; font-size:14px; text-decoration:none;">Like on Facebook</a></td>
                </tr>

                <tr>
                    <td width="15%" style="padding-top:10px; padding-bottom:10px; text-align:center;"><a href="#" target="_blank"><img src="{% static 'sports/cdn-betlabs.pressidium.com/wp-content/uploads/2017/01/social-footer_youtube.jpg' %}" style="max-width:30px; max-height:30px; border:1px solid #555555;" alt=""></a></td>
                    <td width="85%" style="padding-top:10px; padding-bottom:10px; text-align:left; padding-left:10px;"><a href="#" target="_blank" style="font-family:'PT Sans', sans-serif !important; color:#c0c0c0; font-weight:400; font-size:14px; text-decoration:none;">Watch on YouTube</a></td>
                </tr>
                </tbody>
            </table></div>
            </div></div><div class="clear"></div></div>	</div><!--end of container-->



    </footer>

<div style="display:none">
</div>

<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.mind03d.js'%}></script>

<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/contact-form-7/includes/js/scripts1c9b.js'%}></script>
<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-includes/js/jquery/ui/widget.mine899.js'%}></script>
<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-includes/js/jquery/ui/mouse.mine899.js'%}></script>
<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-includes/js/jquery/ui/slider.mine899.js'%}></script>
<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-includes/js/jquery/ui/button.mine899.js'%}></script>
<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-includes/js/jquery/ui/spinner.mine899.js'%}></script>
<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-includes/js/jquery/ui/effect.mine899.js'%}></script>
<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-includes/js/jquery/ui/effect-shake.mine899.js'%}></script>
<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-includes/js/jquery/ui/datepicker.mine899.js'%}></script>
<script type='text/javascript'>
    jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"MM d, yy","firstDay":1,"isRTL":false});});
</script>
<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/advanced-ads-layer/public/assets/js/layer72d3.js'%}></script>
<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/themes/pillar/style/js/pluginsd87f.js'%}></script>
<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/themes/pillar/style/js/scriptsd87f.js'%}></script>
<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-includes/js/wp-embed.mind87f.js'%}></script>

<script type='text/javascript' src={% static 'sports/cdn-betlabs.pressidium.com/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/vhparallax.mind87f.js'%}></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c37aaf2494cc76b787292c6/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
