{% extends 'sports/index.html' %}
{% load static %}

{% block title %}Pricing - Bettor Labs - Sports Betting Statistics{% endblock %}

{% block content %}
<div class="main-container transition--fade"><section class="vc_row wpb_row vc_row-fluid vc_custom_1482973052115"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div><div class="wpb_column column_container col-sm-8"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h1 style="text-align: center;">Bettor Labs Pricing</h1>

		</div>
	</div>

	<div class="vc_btn3-container vc_btn3-center">
		<div class="wpb_wrapper">
			<p style="text-align: center;">Bettor Labs is now a part of all Sports Insights memberships.</p>

		</div>
	</div>
<div style="text-align: center;	">
	<a style="color: #fff;
    border-color: #6DAB3C;
    background-color: #6DAB3C;
    font-size: 16px;
padding: 18px 25px;
border-radius: 5px;
display: inline-block;
margin-bottom: 0;
text-align: center;
vertical-align: center;
cursor: pointer;
" href="#" title="Buy Bettor Labs with Sports Insights">Buy Bettor Labs with Sports Insights</a></div>
</div></div></div><div class="wpb_column column_container col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid"><div class="container"><div class="row"><div class="wpb_column column_container col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_raw_js">
		<div class="wpb_wrapper">
			<!-- Start of betlabs Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="../../static.zdassets.com/ekr/asset_composer.js",this.t=+new Date,this.zendeskHost="betlabs.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]&gt;*/</script>
<!-- End of betlabs Zendesk Widget script -->
		</div>
	</div>
</div></div></div></div></div></section>
</div>

{% endblock %}