/*
Theme Name: Pillar Child
Theme URI: http://www.tommusrhodus.com/pillar-wordpress-theme/
Template: pillar
Author: Tom Rhodes
Author URI: http://www.tommusrhodus.com
Description: Pillar - A Multipurpose, Responsive WordPress Theme.
Tags: custom-background,threaded-comments,translation-ready,custom-menu
Version: 1.1.4.1481143135
Updated: 2016-12-07 20:38:55

*/

/* Site teardown - 2018-10 */

/*
#menu-kleonavmenu {
	display: none;
} */

/* /teardown */

body {
      font-family: 'PT Sans', 'Helvetica', 'Arial', sans-serif;
}

.nav-bar
{
  background-color: #404040 !important;
}
.nav-mobile-toggle { 
  font-weight:bold !important;
  color: #fff !important;
}
.menu > li a {
    color: #fff;
}

.modal-video-1 > .h6{
 font-size:1.5em;
}

.feature-1{
min-height:340px;
}

.btn__text{
font-size: .8em !important;
}

.nav-bar .nav-module.right:not(.logo-module):not(.menu-module):not(:nth-last-child(2)) {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    padding-right: 0;
}
#menuItemMyAccount2{ 
margin-top: 10px;
} 
#menuItemLogin{
display:none;
margin-top: 10px;
}

.tabs-4.tabs-container .tabs .btn {
    border-radius: 0px !important;
}
.sidebar h6 {
    font-size: 1.0em !important;
}

@media (min-width: 1070px)
{
	.container {
    	width: 1070px;
    }
}

@media (min-width:991px)
{
	#myaccount-submenu {
    	position: absolute;
    	top: 52px;
    	left: -60px;
    	width: 100px;
	}
}

.genericon {
  font-size: 40px !important;
}
#recent-posts-4 >.widget-title {
    display: none;
}

/* Default form field styles disappeared into the background, so... -djf */
input, textarea {
    border: 1px solid #ccc !important;
}

.form-button-container {
	margin-top: 1em;
}

.form-button-container input.btn--success {
	margin-top: 1em;
	width: 50%;
	background-color: #64b671;
}

.form-button-container input.btn--success:hover, .form-button-container input.btn--success:active {
	border-color: #64b671 !important;
}